name: Deploy github pages

on:
  push:
    branches:
      - master

jobs:

  deploy_page:
    name: Deploy Github page
    runs-on: ubuntu-latest
    env:
      MAKE_FEATURES_FLAG: "--features postgres,sqlite,runtime-tokio-native-tls"
    steps:
      - uses: actions/checkout@v2
      - name: Setup rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
          profile: default
      - name: Install cargo make
        uses: davidB/rust-cargo-make@v1
      - name: Create env file
        uses: iamsauravsharma/create-dotenv@v1.2.1
        with:
          env-prefix: 'MAKE_'
      - name: Generate documentation
        run: |
          cargo make rustdoc --env-file=./.env
      - name: Generate index page
        run: |
          echo "<meta http-equiv=refresh content=0;url=sqlx_migrator/index.html>" > target/doc/index.html
      - name: Install SSH Client
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
      - name: Deploy GitHub Page
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          SSH: true
          BRANCH: gh-pages
          FOLDER: target/doc